.card-links {
  color: black;
  text-decoration: none;
}

.card-links:hover,
.card-links:focus {
  color: goldenrod;
  text-decoration: underline;
}

.home-heading {
  text-align: center;
}

.card-price {
  text-align: right;
  margin: 0 auto;
}
hr {
  margin: 0 auto;
  width: 80%;
}
